<launch>
  <node name="okvis_node" pkg="okvis_ros" type="okvis_node" output="screen">
    <param name="config_filename" value="$(find okvis_ros)/config/config_fpga_neo_down.yaml" />
    <param name="mesh_file" value="firefly.dae" />
    <remap from="/camera0" to="/pegasus/cam3/image_raw" />
    <remap from="/imu" to="/pegasus/imu0" />
  </node>
</launch>
